 <div class="user-details">
  <h1> Skills</h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
    <div class="tech">
      <h2>Game Development</h2>
	  <p>
		  Unity3D<br/>
		  Unreal Engine 4<br/>
		  OpenGL<br/>
		  GLSL<br/>
	  </p>
    </div>
    <div class="tech">
      <h2>Languages</h2>
      <div class="skill">
		  Java<br/>
		  C#<br/>
		  SQL<br/>
		  Python<br/>
	  </div>
    </div>
    <div class="tech">
      <h2>Web Development</h2>
      <div class="skill">
		  Javascript<br/>
		  ASP.Net<br/>
		  RESTful Services<br/>
	  </div>
    </div>
	<div class="tech">
      <h2>Tools</h2>
      <div class="skill">
		  Git<br/>
		  Visual Studio<br/>
		  DaVinci Resolve<br/>
		  Perforce<br/>
	  </div>
    </div>
</div>
