 <div class="user-details">
  <h1>About Me</h1>
  <p> {{site.user_description}} </p>
  <p> {{site.user_description_2}} </p>
</div>
 <div class="user-details">
  <h1>Skillset</h1>
</div>
<div class="user">
    <div class="tech">
      <h4>Game Development</h4>
	  <p>
		  Unity3D<br/>
		  Unreal Engine 4<br/>
		  OpenGL<br/>
		  GLSL<br/>
	  </p>
    </div>
    <div class="tech">
      <h4>Languages</h4>
      <p>
		  Java<br/>
		  C#<br/>
		  SQL<br/>
		  Python<br/>
	  </p>
    </div>
	<div class="tech">
      <h4>Web Development</h4>
      <p>
		  Javascript<br/>
		  ASP.Net<br/>
		  RESTful Services<br/>
	  </p>
    </div>
	<div class="tech">
      <h4>Tools</h4>
      <p>
		  Git<br/>
		  Visual Studio<br/>
		  DaVinci Resolve<br/>
		  Perforce<br/>
	  </p>
    </div>
</div>
