<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Real Engine 2.0</h3>
    <p>A 3D Game Engine in progress using LWJGL and new OpenGL 3.0+ using the programmable pipeline.
	<ul> Some of the features developed
      <li>VAOs, VBOs, Vertex and Fragment Shaders for optimization</li>
      <li>OBJ and PLY file reader to load 3D models</li>
      <li>Multiple point lights and upto 4 directional lights as well as Specular Lighting</li>
      <li>Terrain generation via heightmaps as well as procedural terrain using Perlin noise</li>
      <li>Post Processing effects like lensflare, fog, cel shading, gaussian blur, contrast changer etc.</li>
      <li>Rendering GUIs and distance field text rendering</li>
      <li>Particle effects like bloom, fire with particle life cycle</li>
      <li>Soft shadows using shadow mapping</li>
      <li>Specular maps, bump maps and glow maps to specifiy object's shininess, normals and glow respectively</li>
      <li>Created a OBJ and PLY file reader</li>
	  <li>Mouse picker to place objects in the scene</li>
      <li>Textures with texture atlas and transparency</li>
      <li>Skybox with Day-Night cycle</li>
    </ul>
    <a class="project-link" href="https://github.com/realkushagrakhare/RealEngine-2.0">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
