<div class="user-details">
  <h1> Select Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="RealEngine1" src="{{ "/assets/img/RealEngine1.png" | prepend: site.baseurl }}" />
	<img alt="RealEngine2" src="{{ "/assets/img/RealEngine2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Real Engine 2.0</h3>
    <p>A 3D Game Engine built from scratch in progress using LWJGL and new OpenGL 3.0+ using the programmable pipeline. Some of the features developed:</p>
	<ul>
      <li>VAOs, VBOs, Vertex and Fragment Shaders for optimization</li>
      <li>OBJ and PLY file reader to load 3D models</li>
      <li>Multiple point lights (with attenuation) and upto 4 directional lights as well as Specular Lighting</li>
      <li>Terrain generation via heightmaps as well as procedural terrain using Perlin noise</li>
      <li>Post Processing effects like lensflare, fog, cel shading, gaussian blur, contrast changer etc.</li>
      <li>Rendering GUIs and distance field text rendering</li>
      <li>Particle effects like bloom, fire with particle life cycle</li>
      <li>Soft shadows using shadow mapping</li>
      <li>Specular maps, bump maps and glow maps to specifiy object's shininess, normals and glow respectively</li>
      <li>Created a OBJ and PLY file reader</li>
	  <li>Mouse picker to place objects in the scene</li>
      <li>Textures with texture atlas and transparency</li>
      <li>Skybox with Day-Night cycle</li>
    </ul>
    <a class="project-link" href="https://github.com/realkushagrakhare/RealEngine-2.0">Github</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="water1" src="{{ "/assets/img/ProjectWater_1.png" | prepend: site.baseurl }}" />
	<img alt="water3" src="{{ "/assets/img/ProjectWater_3.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Project Water</h3>
	<p>Water simulation has a long history in computer graphics and has attracted hundreds of researchers. But the main reason it has 
	fascinated me is the various  phenomenon that occurs in a liquid like water like reflections, refractions, waves or even splashes. 
	The major inspiration arose from Evan Wallace’s water rendering. There are various techniques to simulate water. I considered water 
	as a planar mesh to triangles and distorting the mesh or the textures for various effects.</p>
    <ul>
      <li>Simulation in modern OpenGL3.0+ with shaders in C++</li>
	  <li>Rendering waves by distorting the vertices of the mesh with a sine wave and then recalculating the normals in the vertex shader.</li>
	  <li>Storing the velocities of every vertex in a texture and using them to find out where the ripple has reached at every step, the 
	  vertices would lose velocity while the neighbouring ones would gain it, resulting in the ripple moving forward.</li>
	  <li>Real time ray tracer for refractions. Using the refracted rays calculated using camera, normal vector and light vector, 
	  calculated the intersection with the walls of the rays. This intersection was used to find out refraction texture at a particular point.</li>
	  <li>For caustics, found out where the light passing through a ripple would intersect the cubic box. At the point of intersection there could be a caustic,
	  if the light fell at a particular angle.</li>
	</ul>
    <a class="project-link" href="https://github.com/realkushagrakhare/ProjectWater">Github</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="Sociophobia1" src="{{ "/assets/img/Sociophobia1.png" | prepend: site.baseurl }}" />
	<img alt="Sociophobia2" src="{{ "/assets/img/Sociophobia2.png" | prepend: site.baseurl }}" />
	<img alt="Sociophobia3" src="{{ "/assets/img/Sociophobia3.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Sociophobia VR</h3>
	<p>VR simulation for people with certain anxiety disorders in professional settings, such as speaking in front of a group at work 
	or attending an interview. We see a large number of people with such issues and this project is to help them:</p>
    <ul>
      <li>A scene with a small number of people in a typical team meeting or a presentation in a company</li>
	  <li>Server-client model, wherein majority of the controls, for controlling various events to create distraction like phone vibration, chair squeeking, people talking etc, are triggered from the server model, which controls the scene in the client</li>
	  <li>The patient (player) uses a HMD to view the scene (the audience) - and simultaneously talk through the presentation (considering it an actual presentation)</li>
	  <li>As the player starts presentation, the audience indulges in actions (animated) such as yawning or showing lack of interest, distract the speaker by turning 
	  and talking to another person etc. Other included events to create distraction are phone vibration, chair squeeking, person exiting the 
	  room. These actions would be controlled by a therapist.</li>
	  <li>Framework to add more such events using Factory Design Pattern.</li>
	  <li>Support to automatically trigger these events given the probability of each event.</li>
	  <li>Playback mode where the speaker can see his/her performance from a third viewpoint. Player's head movements are tracked while their talking is recorded, and these are used during playback.</li> 
    </ul>
	<p>This project was completed in collaboration with Shreyas Iyer.</p>
    <a class="project-link" href="https://github.com/l0ftyWhizZ/SociophobiaVR">Github</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="rrt1" src="{{ "/assets/img/RRT_1.JPG" | prepend: site.baseurl }}" />
	<img alt="rrt2" src="{{ "/assets/img/RRT_2.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>3D Path Planning</h3>
	<p>The project was to built a path planning algorithm which creates paths for robots, self-driving cars, drones, etc considering 
	various non-holonomic constraints. We solved the problem statement in the following steps:</p>
    <ul>
      <li>Created the basic framework for path planning using RRT(Rapidly-exploring Random Trees).</li>
      <li>Optimized the algorithm using cost function of A* to determine selection of nodes in the RRT.</li>
      <li>Upgraded RRT into RRT* by constructing multiple short paths randomly organized as tree instead of one long path which yields 
	  asymptotically optimum solution.</li>
      <li>Incorporated 2-Phase sampling to reach the goal faster.</li>
	  <li>Node pruning and Spline Fitting into the pipeline.</li>
	  <li>Combined Dubins and Reeds-Shepp Path Planning algorithms with RRT* for non-holonomic constraints.</li>
	</ul>
    <a class="project-link" href="https://github.com/realkushagrakhare/3D_Path_Planning">Github</a>
	<a class="project-link" href="https://github.com/realkushagrakhare/3D_Path_Planning/blob/master/AI%20Weekly%20Reports/AI_Final_PPT_20181127_190404.pdf">Report</a>
  </div>
</div>
